.InputForLogin {
    background-color: #505FE9;
    font-size: 45px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.InputForLogin::placeholder {
    color: white;
    opacity: 0.5;
}

input.InputForLogin {
    color: white;
    opacity: 0.9;
}

#password.InputForLogin {
    -webkit-text-security: disc;
}

[id='confirm password'].InputForLogin {
    -webkit-text-security: disc;
}
