.LoginPage {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    font-family: Roboto;
    font-size: 70px;
    font-style: normal;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-evenly;
}

#welcome {
    font-size: 70px;
}

#error_text {
    color: red;
    margin-top: 30px;
}

.ExtraLoginPageText {
    font-size: 30px;
}
